body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto", sans-serif;
}

/* logo */
.menu img {
  height: 70px;
  width: 70px;
  background-color: #fff;
  padding: 0px 10px;
  margin: 4px;
  border-radius: 5%;
}

/* retira subrayado */
li {
  list-style: none;
}

/* contenedor principal  */
.contenedor {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

/* imagen header */
header {
  background: url(/WebBandaMusical/DoAsEncabezado.webp);
  height: 70vh;
}

/* barra menu */
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header .logo-y-menu {
  display: flex;
  align-items: center;
}

/* menu horizontal */
nav ul {
  display: flex;
}

/* espacio opc menu horizontal */
nav ul li {
  margin: 0px 20px;
}

/* style opc menu */
nav ul li a {
  color: #fff;
  /* elimina viñetas */
  text-decoration: none;
  font-size: 25px;
}

/* style botones */
header .boton a,
.botones a,
#discografia a,
#tour a {
  font-size: 25px;
  font-style: bold;
  background-color: yellow;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5%;
}

/* style boton Tour */
.blanco {
  background-color: #fff !important;
}

/* style texto titutar */
.amarilo {
  color: yellow;
}

/* style texto titular */
header .titular {
  margin-top: 30vh;
  color: white;
}

h1 {
  font-size: 50px;
  /* ancho horizontal */
  width: 40%;
}

#discografia {
  background: #000;
  color: #fff;
  padding: 60px 0;
}

h4 {
  /* elimina margin de h4 que tiene por defecto y separa el header de la seccion */
  margin: 0;
  color: yellow;
  border: 1px solid #ccc;
  /* ancho */
  width: 85px;
  padding: 10px;
  border-radius: 20px;
}

/* posicion horizontal texto y img caratula */
#discografia .contenedor {
  display: flex;
  align-items: center;
}

/* style texto h2 */
#discografia span {
  color: yellow;
  text-decoration: underline;
}

#discografia h2 {
  font-size: 50px;
  /* quitamos margin por defecto */
  margin-bottom: 10px;
}

#discografia p {
  font-size: 14px;
  /* separacion de lineas */
  line-height: 27px;
  margin-bottom: 40px;
}

#discografia .texto {
  width: 60%;
  /* border: 1px solid white; */
}

#discografia img {
  /* border: 1px solid white; */
  width: 100%;
  margin-left: 3rem;
}

.contenedor-textos {
  display: flex;
}

#about h4 {
  color: #000;
  border: 1px solid #000;
  text-align: center;
}

.negro {
  background-color: #aaa !important;
  margin-left: 1rem;
}

#about {
  padding: 100px 0;
}

#about p {
  line-height: 27px;
}

#about .botones {
  margin-top: 2rem;
  /* border: 1px solid #000; */
}

#tour {
  background-color: yellow;
  padding: 60px 0;
}

#tour .contenedor {
  display: flex;
  justify-content: space-around;
}

#tour img {
  width: 100%;
}

#tour .texto {
  width: 50%;
}

#tour .imagen {
  width: 40%;
  position: relative;
  top: -110px;
}

#tour h4 {
  color: #000;
  text-align: center;
}

.fechas {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  margin-bottom: 60px;
  border-bottom: 1px solid #cccccc57;
  padding-bottom: 30px;
}

.fechas .numero {
  font-size: 34px;
}

.fechas h5,
.fechas p {
  margin: 0;
}

.fechas h5 {
  font-size: 20px;
}


footer{
  text-align: center;
}